:root {
    --letra: #ffff;
    --letra2: #7e6957;
    --bkg-color1-mobile: #1e1d1d;
    --bkg-color2-mobile: #867c70;
    --bkg-color3-mobile: #5a4d41;
    --bkg-color4-mobile: #303031;
}

/*MOBILE*/
#espaco3{
    width: 0px; height: 0px;
}
#espaco4{
    width: 0px; height: 0px;
}
#title1{
    font-family: Raleway;
    color: #ffffff;
    font-size: 0px;
    text-align: center;
    text-transform: uppercase;
}
#sub1{
    text-transform: uppercase;
    font-family: Raleway;
    color: #ffffff;
    font-size: 0px;
    text-align: center;
}
*{
    color: #ffffff;
    
    box-sizing: border-box;
}
.grup{
    width: 100%; height: auto;
    display: flex;
    justify-content: space-around;
}
.grid{
    background-color: #00000000;
    
}
.espaco-grup{
    width: auto; height: 30px;
}
#link1{
    font-size: 0px;
}
a{
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
a:focus{
    outline: none;
    box-shadow: none; 
}

/*MOBILE*/


#botton{
    width: 0px; height: 0px;
}
body {
    background-color: #000000;
    background-image: url(../Imagens/fundo-mobile.svg);
    background-attachment: fixed;
    background-size: cover;
    background-size: auto;
    margin: 0%;
}
#cont {
    width: 100%; height: auto;
    margin-left: auto; margin-right: auto;
    align-content: center;
   
}
.espaco{
    margin-left: auto; margin-right: auto;
    width: 100%; height: 150px;
    align-content: center;
}
#text {
    margin-left: auto; margin-right: auto;
    width: auto; height: auto;
    align-items: center;
    align-self: center;
    align-content: center;
}
#title {
    color: var(--letra);
    text-align: center;
    width: 100%; height: auto;
    margin-left: auto; margin-right: auto;
    margin-top: 0px; margin-bottom: 0px;
    font-size: 80px;
    align-content: center;
    font-family: Raleway;
    text-transform: uppercase;
    letter-spacing: 30px;
    font-weight: 300;
}
#sub {
    color: var(--letra);
    padding: 3px;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
    width: 100%; height: 100px;
    margin-left: auto; margin-right: auto;
    margin-top: 0px; margin-bottom: 0px;
    font-size: 18px;
    letter-spacing: 50px;
    font-family: Mulish;
    font-weight: 800;
}
#acess {
    width: 53%; height: auto;
    margin-left: auto; margin-right: auto;
}




#page {
    margin-left: auto; margin-right: auto;
    width: 100%; height: 200px;
    text-align: center;
    align-content: center;
}
#link {
    text-align: center;
    align-content: center;
    width: 20%; height: 10%;
    font-size: 20px;
    padding: 15px 30px 15px 30px;
    background-color: var(--bkg-color4-mobile);
    animation: 0.9s linear 1s infinite alternate move;
    border: solid 3px #3d3d3d;
    border-radius: 5px;
    font-family: Raleway;
    text-decoration: none;
    letter-spacing: 5px;
    text-transform: uppercase;
}
@keyframes move{
    from{
        border-radius: 50px 2px 2px 50px;
        border: solid 3px #626262 
}
}
#link:focus {
    outline: none;
    box-shadow: none; /* garante que não haja nenhum efeito de foco */
}


/*GRUPOS*/

/*GRUPO - 1*/
[id^="grid"] {
    border: solid 8px var(--bkg-color1-mobile);
}

#grid1{
    background-image: url(../Imagens/galeria/modelo-pb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 410px; height: 600px;
    transition: 0.5s;

}
#grid1:hover{
    background-image: url(../Imagens/galeria/modelo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 410px; height: 600px;
}
#grid2{
    background-image: url(../Imagens/galeria/casal-pb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px; height: 600px;
    transition: 0.5s;
}
#grid2:hover{
    background-image: url(../Imagens/galeria/casal.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px; height: 600px;
}
#grid3{
    background-image: url(../Imagens/galeria/sa1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px; height: 600px;
    transition: 0.5s;
}
#grid3:hover{
    background-image: url(../Imagens/galeria/sa4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px; height: 600px;
}


/*GRUPO - 2*/
#grid6{
    background-image: url(../Imagens/galeria/hotel-pb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 550pX; height: 600px;
    transition: 0.5s;
}
#grid6:hover{
    background-image: url(../Imagens/galeria/hotel.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 550px; height: 600px;
}
#grid7{
    background-image: url(../Imagens/galeria/thomas-pb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 700px; height: 600px;
    transition: 0.5s;
}
#grid7:hover{
    background-image: url(../Imagens/galeria/thomas.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 700px; height: 600px;
}



/*GRUPO - 3*/
#grid10{
    background-image: url(../Imagens/galeria/jt1-pb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 850px; height: 600px;
    transition: 0.5s;
}
#grid10:hover{
    background-image: url(../Imagens/galeria/jt1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 850px; height: 600px;
}
#grid11{
    background-image: url(../Imagens/galeria/senhora.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px; height: 600px;
    transition: 0.5s;
}
#grid11:hover{
    background-image: url(../Imagens/galeria/senhora1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px; height: 600px;
}


/*GRUPO - 4*/
#grid14{
    background-image: url(../Imagens/galeria/modelo2-pb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px; height: 600px;
    transition: 0.5s;
}
#grid14:hover{
    background-image: url(../Imagens/galeria/modelo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px; height: 600px;
}
#grid15{
    background-image: url(../Imagens/galeria/nature-pb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px; height: 600px;
    transition: 0.5s;
}
#grid15:hover{
    background-image: url(../Imagens/galeria/nature.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px; height: 600px;
}
#grid16{
    background-image: url(../Imagens/galeria/ls5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px; height: 600px;
    transition: 0.5s;
}
#grid16:hover{
    background-image: url(../Imagens/galeria/ls6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px; height: 600px;
}



/*GRUPO - 5*/
#grid18{
    margin-left: auto; margin-right: auto;
    background-image: url(../Imagens/galeria/praca-pb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1290px; height: 400px;
    transition: 0.5s;
}
#grid18:hover{
    margin-left: auto; margin-right: auto;
    background-image: url(../Imagens/galeria/praca.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1290px; height: 400px;
}



/*GRUPO - 6*/
#grid22{
    background-image: url(../Imagens/galeria/house-pb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px; height: 600px;
    transition: 0.5s;
}
#grid22:hover{
    background-image: url(../Imagens/galeria/house.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px; height: 600px;
}
#grid23{
    background-image: url(../Imagens/galeria/ej.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 850px; height: 600px;
    transition: 0.5s;
}
#grid23:hover{
    background-image: url(../Imagens/galeria/ej1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 850px; height: 600px;
}


/*GRUPO - 7*/
#grid26{
    background-image: url(../Imagens/galeria/centro.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 500px; height: 600px;
    transition: 0.5s;
}
#grid26:hover{
    background-image: url(../Imagens/galeria/pref-pb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 500px; height: 600px;
}
#grid27{
    background-image: url(../Imagens/galeria/rio-pb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 760px; height: 600px;
    transition: 0.5s;
}
#grid27:hover{
    background-image: url(../Imagens/galeria/rio.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 760px; height: 600px;
}


/*GRUPO - 8*/
#grid30{
    background-image: url(../Imagens/galeria/casal2-pb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px; height: 600px;
    transition: 0.5s;
}
#grid30:hover{
    background-image: url(../Imagens/galeria/casal2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px; height: 600px;
}
#grid31{
    background-image: url(../Imagens/galeria/modelo1-pb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px; height: 600px;
    transition: 0.5s;
}
#grid31:hover{
    background-image: url(../Imagens/galeria/modelo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px; height: 600px;
}
#grid32{
    background-image: url(../Imagens/galeria/ls7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px; height: 600px;
    transition: 0.5s;
}
#grid32:hover{
    background-image: url(../Imagens/galeria/ls8.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px; height: 600px;
}


/*GRUPO - 9*/
#grid34{
    background-image: url(../Imagens/galeria/ls2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 630px; height: 400px;
    transition: 0.5s;
}
#grid34:hover{
    background-image: url(../Imagens/galeria/ls1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 630px; height: 400px;
}
#grid35{
    background-image: url(../Imagens/galeria/jt-pb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 630px; height: 400px;
    transition: 0.5s;
}
#grid35:hover{
    background-image: url(../Imagens/galeria/jt.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 630px; height: 400px;
}


/*GRUPO - 10*/
#grid38{
    background-image: url(../Imagens/galeria/cat1-pb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 410px; height: 600px;
    transition: 0.5s;
}
#grid38:hover{
    background-image: url(../Imagens/galeria/cat1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 410px; height: 600px;
}
#grid39{
    background-image: url(../Imagens/galeria/paisa-pb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 410px; height: 600px;
    transition: 0.5s;
}
#grid39:hover{
    background-image: url(../Imagens/galeria/paisa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 410px; height: 600px;
}
#grid40{
    background-image: url(../Imagens/galeria/cat-pb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 410px; height: 600px;
    transition: 0.5s;
}
#grid40:hover{
    background-image: url(../Imagens/galeria/cat.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 410px; height: 600px;
}


/*GRUPO - 11*/
#grid42{
    background-image: url(../Imagens/galeria/ls4a.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 630px; height: 400px;
    transition: 0.5s;
}
#grid42:hover{
    background-image: url(../Imagens/galeria/ls4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 630px; height: 400px;
}
#grid43{
    background-image: url(../Imagens/galeria/sa3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 630px; height: 400px;
    transition: 0.5s;
}
#grid43:hover{
    background-image: url(../Imagens/galeria/sa2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 630px; height: 400px;
}

/*GRUPOS*/



#pe {
    align-content: center;
    width: 95%; height: 300px;
    margin-left: auto; margin-right: auto;
}
#contato{
    width: auto; height: auto;
    margin-left: auto; margin-right: auto;
    display: flex;
    align-items: center;
}
#whats{
    width: 30%;
    text-align: center;
    color: #ffffff;
    border-radius: 30px;
    margin-left: auto; margin-right: auto;
    padding: 20px;
    font-family: Mulish; font-weight: 800; font-size: 15px;
    text-decoration: none; text-transform: uppercase;
}
#whats:hover {
    background-color: #12c521;
    transition: 1s;
    letter-spacing: 10px;
}
#info{
    margin-left: auto; margin-right: auto;
    color: var(--letra);
    margin-left: auto; margin-right: auto;
    padding: 10px;
    font-family: Mulish; font-weight: 800; font-size: 100%;
    text-decoration: none; text-transform: uppercase;
    border-radius: 5px;
}
#creditos {
    width: auto; height: auto;
    text-align: center;
    font-family: Mulish; font-weight: 900; font-size: 80%;
    letter-spacing: 10px;
    color: var(--letra);
    height: 40px;
    align-content: center;
}


/* RESPOSIVIDADE */
@media (max-width:1180px ){
body{
    background-color: #000000;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}



#espaco1{
    margin-left: auto; margin-right: auto;
    width: 100%; height: 1300px;
}
#espaco3{
    margin-left: auto; margin-right: auto;
    width: 100%; height: 50px;
}
#title1{
    font-size: 60px;
    letter-spacing: 20px;
}
#sub1{
    font-size: 35px;
    letter-spacing: 50px;
    font-weight: 600;
}
#page1 {
    margin-left: auto; margin-right: auto;
    width: 100%; height: 200px;
    text-align: center;
    align-content: center;
}
#link1 {
    text-align: center;
    align-content: center;
    width: 20%; height: 10%;
    font-size: 30px;
    padding: 15px 30px 15px 30px;
    background-color: var(--bkg-color4-mobile);
    animation: 0.9s linear 1s infinite alternate move;
    border: solid 3px #626262;
    border-radius: 5px;
    font-family: Raleway;
    text-decoration: none;
    letter-spacing: 5px;
    text-transform: uppercase;
}



#cont{
    width: 90%; height: auto;
    background-color: var(--bkg-color1-mobile);
    border-radius: 10px;
}
#text{
    width: 100%; height: 0px;
    border-radius: 20px;
    background-color: var(--bkg-color1-mobile);
}
#title {
    font-size: 0px;
}
#sub {
    font-size: 0%;
}

#acess{
    height: auto;
    width: 90%; 
    justify-content: space-around;
}
#page {
    width: 100%; height: 100px;
}
#link {
    width: 0px; height: 0px;
    font-size: 0px;
    padding: 0px;
    background-color: #00000000;
    animation: none;
    border: solid 0px #8f7a6400;
    border-radius: 0px;
    text-decoration: none;
    letter-spacing: 0px;
}
.grup{
        height: 380px;
    }
.espaco-grup{
    height: 5px;
}
.grid{
    border: solid 3px var(--bkg-color1-mobile);
}

#pe {
    text-align: center;
    align-content: center;
    width: 95%; height: 180px;
    margin-left: auto; margin-right: auto;
    }
#contato{
    width: auto; height: auto;
    margin-left: auto; margin-right: auto;
    display: flex;
    align-items: center;
    }
#whats{
    width: 30%;
    text-align: center;
    color: #ffffff;
    background-color: #1e12c500;
    border-radius: 30px;
    margin-left: auto; margin-right: auto;
    padding: 10px;
    font-family: Mulish; font-weight: 800; font-size: 20px;
    text-decoration: none; text-transform: uppercase;
    }
#whats:hover {
    color: #1cff24;
    background-color: #12c52100;
    transition: 1s;
    letter-spacing: 0px;
    }
#info{
    width: 50%;
    margin-left: auto; margin-right: auto;
    color: var(--letra);
    margin-left: auto; margin-right: auto;
    padding: 10px;
    font-family: Mulish; font-weight: 800; font-size:18px;
    text-decoration: none; text-transform: uppercase;
    border-radius: 5px;
}
#creditos {
    width: auto; height: auto;
    text-align: center;
    font-family: Mulish; font-weight: 900; font-size: 15px;
    letter-spacing: 5px;
    color: var(--letra);
    height: 40px;
    align-content: center;
} 


#grid1,
#grid2,
#grid3,
#grid4,
#grid5,
#grid6,
#grid7,
#grid8,
#grid9,
#grid10,
#grid11,
#grid12,
#grid13,
#grid14,
#grid15,
#grid16,
#grid17,
#grid18,
#grid19,
#grid20,
#grid21,
#grid22,
#grid23,
#grid24,
#grid25,
#grid26,
#grid27,
#grid28,
#grid29,
#grid30,
#grid31,
#grid32,
#grid33,
#grid34,
#grid35,
#grid36,
#grid37,
#grid38,
#grid39,
#grid40,
#grid41,
#grid42,
#grid43,
#grid44,
#grid45,
#grid46,
#grid47,
#grid48,
#grid49,
#grid50 {
        background-position: center;
        width: 100%;
        height: auto;
        border: solid 3px var(--bkg-color1-mobile);
}
#grid1:hover,
#grid2:hover,
#grid3:hover,
#grid4:hover,
#grid5:hover,
#grid6:hover,
#grid7:hover,
#grid8:hover,
#grid9:hover,
#grid10:hover,
#grid11:hover,
#grid12:hover,
#grid13:hover,
#grid14:hover,
#grid15:hover,
#grid16:hover,
#grid17:hover,
#grid18:hover,
#grid19:hover,
#grid20:hover,
#grid21:hover,
#grid22:hover,
#grid23:hover,
#grid24:hover,
#grid25:hover,
#grid26:hover,
#grid27:hover,
#grid28:hover,
#grid29:hover,
#grid30:hover,
#grid31:hover,
#grid32:hover,
#grid33:hover,
#grid34:hover,
#grid35:hover,
#grid36:hover,
#grid37:hover,
#grid38:hover,
#grid39:hover,
#grid40:hover,
#grid41:hover,
#grid42:hover,
#grid43:hover,
#grid44:hover,
#grid45:hover,
#grid46:hover,
#grid47:hover,
#grid48:hover,
#grid49:hover,
#grid50:hover {
        background-position: center;
        width: 100%;
        height: auto;
    }
}

@media (max-width:860px ){
#espaco1{
        margin-left: auto; margin-right: auto;
        width: 100%; height: 1300px;
    }
#title1{
        font-size: 40px;
        letter-spacing: 15px;
    }
#sub1{
        font-size: 30px;
        letter-spacing: 25px;
        font-weight: 500;
    }

#link1{
        padding: 20px;
        width: 70%;
        font-size: 30px;
    }

.grup{
        height: 320px;
    }

#pe {
    text-align: center;
    align-content: center;
    width: 95%; height: 180px;
    margin-left: auto; margin-right: auto;
    }
#contato{
    width: auto; height: auto;
    margin-left: auto; margin-right: auto;
    display: flex;
    align-items: center;
    }

#info{
    width: 50%;
    margin-left: auto; margin-right: auto;
    color: var(--letra);
    margin-left: auto; margin-right: auto;
    padding: 10px;
    font-family: Mulish; font-weight: 800; font-size:13px;
    text-decoration: none; text-transform: uppercase;
    border-radius: 5px;
}
#creditos {
    width: auto; height: auto;
    text-align: center;
    font-family: Mulish; font-weight: 900; font-size: 15px;
    letter-spacing: 5px;
    color: var(--letra);
    height: 40px;
    align-content: center;
} 
}

@media (max-width:560px ){
#espaco1{
        margin-left: auto; margin-right: auto;
        width: 100%; height: 1000px;
    }
#title1{
        font-size: 25px;
        letter-spacing: 10px;
    }
#sub1{
        font-size: 15px;
        letter-spacing: 20px;
        font-weight: 600;
    }

#link1{
        padding: 15px;
        width: 50%;
        font-size: 20px;
    }

.grup{
        height: 170px;
    }

#pe {
    align-content: center;
    width: 95%; height: 180px;
    margin-left: auto; margin-right: auto;
    }
#contato{
    width: auto; height: auto;
    margin-left: auto; margin-right: auto;
    display: flex;
    align-items: center;
    }
#whats{
    width: 35%;
    font-family: Mulish; font-weight: 800; font-size: 9px;
    }
#info{
    width: 60%;
    margin-left: auto; margin-right: auto;
    color: var(--letra);
    margin-left: auto; margin-right: auto;
    padding: 10px;
    font-family: Mulish; font-weight: 800; font-size: 9px;
    text-decoration: none; text-transform: uppercase;
    border-radius: 5px;
}
#creditos {
    width: auto; height: auto;
    text-align: center;
    font-family: Mulish; font-weight: 900; font-size: 10px;
    letter-spacing: 10px;
    color: var(--letra);
    height: 40px;
    align-content: center;
} 
}

@media (max-width:390px ){
#espaco1{
        margin-left: auto; margin-right: auto;
        width: 100%; height: 650px;
    }
#title1{
        font-size: 20px;
        letter-spacing: 5px;
    }
#sub1{
        font-size: 15px;
        letter-spacing: 10px;
        font-weight: 500;
    }

#link1{
        padding: 15px;
        width: 50%;
        font-size: 80%;
    }

.grup{
        height: 170px;
    }

#pe {
    align-content: center;
    width: 95%; height: 180px;
    margin-left: auto; margin-right: auto;
    }
#contato{
    width: auto; height: auto;
    margin-left: auto; margin-right: auto;
    display: flex;
    align-items: center;
    }
#whats{
    width: 40%;
    font-family: Mulish; font-weight: 800; font-size: 10px;
    }

#info{
    width: 60%;
    margin-left: auto; margin-right: auto;
    color: var(--letra);
    margin-left: auto; margin-right: auto;
    padding: 10px;
    font-family: Mulish; font-weight: 800; font-size: 7px;
    text-decoration: none; text-transform: uppercase;
    border-radius: 5px;
}
#creditos {
    width: auto; height: auto;
    text-align: center;
    font-family: Mulish; font-weight: 900; font-size: 10px;
    letter-spacing: 10px;
    color: var(--letra);
    height: 40px;
    align-content: center;
} 
}

