:root {
    --letra: #ffff;
    --letra2: #7e6957;
    --bkg-color1-mobile: #1e1d1d;
    --bkg-color2-mobile: #867c70;
    --bkg-color3-mobile: #5a4d41;
    --bkg-color4-mobile: #303031;
}

/*MOBILE*/
#espaco3{
    width: 0px; height: 0px;
}
#espaco4{
    width: 0px; height: 0px;
}
#title1{
    font-family: Raleway;
    color: #ffffff;
    font-size: 0px;
    text-align: center;
    text-transform: uppercase;
}
#sub1{
    text-transform: uppercase;
    font-family: Raleway;
    color: #ffffff;
    font-size: 0px;
    text-align: center;
}
*{
    color: #ffffff;
    
    box-sizing: border-box;
}
#grid{
    width: 0px; height: 0px;
}
#botton{
    width: 0px; height: 0px;
}
a{
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
a:focus{
    outline: none;
    box-shadow: none; 
}
/*MOBILE*/


body {
    background-color: #000000;
    background-image: url(../Imagens/fundo-mobile.svg);
    background-size: cover;
    margin: 0%;
}

#cont {
    width: 100%; height: auto;
    margin-left: auto; margin-right: auto;
    align-content: center;
   
}

.espaco{
    margin-left: auto; margin-right: auto;
    width: 100%; height: 150px;
    align-content: center;
}

#text {
    margin-left: auto; margin-right: auto;
    width: 100%; height: 250px;
    align-items: center;
    align-self: center;
    align-content: center;
}
#title {
    color: var(--letra);
    text-align: center;
    width: 100%; height: auto;
    margin-left: auto; margin-right: auto;
    margin-top: 0px; margin-bottom: 0px;
    font-size: 560%;
    align-content: center;
    font-family: Raleway;
    text-transform: uppercase;
    letter-spacing: 39px;
    font-weight: 300;
}
#sub {
    color: var(--letra);
    padding: 3px;
    text-align: center;
    text-transform: uppercase;
    width: 100%; height: auto;
    margin-left: auto; margin-right: auto;
    margin-top: 0px; margin-bottom: 0px;
    font-size: 100%;
    letter-spacing: 10px;
    font-family: Mulish;
    font-weight: 800;
}

#acess {
    width: 53%; height: auto;
    margin-left: auto; margin-right: auto;
}

.grup{
    height: 250px;
}
.descri {
    background-image: url(../Imagens/info.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: none;
    width: 82%; height: 88%;
    box-sizing: border-box;
    font-weight: 200;
    margin-left: auto; margin-right: auto;
    align-content: center;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.6s ease-out;
    border-radius: 5px;
}
#descri1:hover{
    background-image: url(../Imagens/foto.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: none;
}
#descri2:hover{
    background-image: url(../Imagens/video.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: none;
}
#descri3:hover{
    background-image: url(../Imagens/estudio.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: none;
}


#page {
    margin-left: auto; margin-right: auto;
    width: 100%; height: 150px;
    text-align: center;
    align-content: center;
}
#link {
    text-align: center;
    align-content: center;
    width: 20%; height: 10%;
    font-size: 20px;
    padding: 15px 30px 15px 30px;
    background-color: var(--bkg-color4-mobile);
    animation: 0.9s linear 1s infinite alternate move;
    border: solid 3px #626262;
    border-radius: 5px;
    font-family: Raleway;
    text-decoration: none;
    letter-spacing: 5px;
    text-transform: uppercase;
}
@keyframes move{
    from{
        border-radius: 50px 2px 2px 50px;
        border: solid 3px #626262 
}
}
#link:focus {
    outline: none;
    box-shadow: none; /* garante que não haja nenhum efeito de foco */
}


#pe {
    width: 95%; height: auto;
    margin-left: auto; margin-right: auto;
}
#contato{
    width: 70%; height: 5%;
    margin-left: auto; margin-right: auto;
    display: flex;
    align-items: center;
}
#whats{
    width: 30%;
    text-align: center;
    color: #ffffff;
    border-radius: 30px;
    margin-left: auto; margin-right: auto;
    padding: 20px;
    font-family: Mulish; font-weight: 800; font-size: 15px;
    text-decoration: none; text-transform: uppercase;
}
#whats:hover {
    background-color: #12c521;
    transition: 1s;
    letter-spacing: 10px;
}
#info{
    margin-left: auto; margin-right: auto;
    color: var(--letra);
    margin-left: auto; margin-right: auto;
    padding: 10px;
    font-family: Mulish; font-weight: 800; font-size: 100%;
    text-decoration: none; text-transform: uppercase;
    border-radius: 5px;
}
#creditos {
    width: 100%;
    text-align: center;
    font-family: Mulish; font-weight: 900; font-size: 80%;
    letter-spacing: 10px;
    color: var(--letra);
    height: 40px;
    align-content: center;
}


/* RESPOSIVIDADE */
@media (max-width:1900px ){
.espaco{
    margin-left: auto; margin-right: auto;
    width: 100%; height: 180px;
}

#title {
    font-size: 80px;
    letter-spacing: 20px;
    font-weight: 500;
}

#sub {
    font-size: 90%;
    letter-spacing: 15px;
}

#descri {
    background-size: 160%;
    background-position: center;
    width: 90%; height: 700px;
    font-size: 30px;
}

#link {
    width: 30%; height: 10%;
    font-size: 20px;
    padding: 20px 40px 
}

#contato{
    width: 100%;
}

#whats{
    width: 30%;
    font-size: 15px;
}

#info{
    font-size: 20px;
}

#creditos {
    font-size: 15px;
    letter-spacing: 4px;
}
}

@media (max-width:1300px ){
    #whats{
        width: 40%;
    }
}

/* RESPOSIVIDADE MOBILE PRINCIPAL: 1080px*/
@media (max-width:1080px ){

body{
    background-color: #000000;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}



#espaco1{
    margin-left: auto; margin-right: auto;
    width: 100%; height: 1300px;
}
#espaco3{
    margin-left: auto; margin-right: auto;
    width: 100%; height: 30px;
}


#title1{
    font-size: 60px;
    letter-spacing: 20px;
}
#sub1{
    font-size: 30px;
    letter-spacing: 25px;
    font-weight: 600;
}



#text{
    width: 100%; height: 0px;
    border-radius: 20px;
}
#title {
    font-size: 0px;
}
#sub {
    font-size: 0%;
}



#acess{
    width: 95%; height: 2400px;
    background-color: var(--bkg-color1-mobile);
    border-radius: 30px;
    border: 0px;
    align-content: center;
}
.grup{
    margin-left: auto; margin-right: auto;
    width: 100%; height: 600px;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
}
.descri {
    background-image: url(../Imagens/info_mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: none;
    width: 100%; height: 100%;
}
#descri1:hover{
    background-image: url(../Imagens/foto_mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: none;
}
#descri2:hover{
    background-image: url(../Imagens/video_mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: none;
}
#descri3:hover{
    background-image: url(../Imagens/estudio_mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: none;
}


#page{
    height: 250px;
}
#link {
    width: 20%; height: 10%;
    font-size: 30px;
    padding: 15px 30px 15px 30px;
    background-color: var(--bkg-color4-mobile);
    animation: 0.9s linear 1s infinite alternate move;
    border: solid 3px #3d3d3d;
    border-radius: 5px;
}
@keyframes move{
    from{
        border-radius: 50px 2px 2px 50px;
        border: solid 3px #626262 
}
}

#pe{
    background-color: var(--bkg-color4-mobile);
    width: 85%; 
    border-radius: 0px 0px 30px 30px;
    align-content: center;
}
#contato{
    color: var(--bkg-color4-mobile);
    width: 100%;
}
#whats{
    width: 30%;
    text-align: center;
    color: #ffffff;
    background-color: #12c52100;
    border-radius: 30px;
    margin-left: auto; margin-right: auto;
    padding: 10px;
    font-family: Mulish; font-weight: 800; font-size: 20px;
    text-decoration: none; text-transform: uppercase;
    }
#whats:hover {
    color: #1cff24;
    background-color: #12c52100;
    transition: 1s;
    letter-spacing: 0px;
    }
#info{
    color: var(--letra);
    font-size: 20px;
}


#creditos {
    height: 60px;
    font-size: 15px;
    letter-spacing: 4px;
    color: var(--letra);
}
}


@media (max-width:860px ){

#acess{
    align-content: center;
    height: 2000px;
    border-radius: 30px;
}

#espaco1{
    margin-left: auto; margin-right: auto;
    width: 100%; height: 1200px;
}

#sub1{
    font-size: 25px;
    letter-spacing: 20px;
    font-weight: 600;
}

#title1{
    font-size: 60px;
    letter-spacing: 5px;
}

.grup{
    height: 500px;
}


#page{
    height: 200px;
}
#link {
    width: 20%; height: 10%;
    font-size: 25px;
    padding: 15px 25px 15px 25px
}


#pe{
    width: 87%; height: 200px;
}
#contato{
    width: 100%;
}

#whats{
    width: 30%;
    font-size: 15px;
}

#info{
    font-size: 18px;
}

#creditos {
    font-size: 15px;
    letter-spacing: 4px;
}
}


@media (max-width:560px ){
#espaco1{
    height: 800px;
}

#title1{
    font-size: 30px;
}
#sub1{
    font-size: 15px;
    letter-spacing: 15px;
    font-weight: 600;
}

#acess{
    align-content: center;
    height: 1200px;
    border-radius: 20px;
}

.espaco{
    margin-left: auto; margin-right: auto;
    width: 100%; height: 100px;
}

.grup{
    height: 300px;
}


#page{
    height: 100px;
}
#link {
    width: 20%; height: 10%;
    font-size: 100%;
    padding: 10px 25px 10px 25px
}


#pe{
    width: 87%; height: 100px;
}
#contato{
    width: 100%;
}

#whats{
    width: 35%;
    font-size: 8px;
}

#info{
    font-size: 9px;
}

#creditos {
    font-size: 10px;
    letter-spacing: 4px;
}
}


@media (max-width:389px ){
.espaco{
    margin-left: auto; margin-right: auto;
    width: 100%; height: 55px;
}


#espaco1{
    width: 100%; height: 600px;
}
#title1{
    font-size: 30px;
    letter-spacing: 3px;
}
#sub1{
    font-size: 15px;
    letter-spacing: 10px;
    font-weight: 600;
}



#acess {
    width: 90%; height: 1100px;
    margin-left: auto; margin-right: auto;
    align-content: center;
    border-radius: 30px 30px 0px 0px;

}



.grid{
    height: 150px;
}
.descri {
    width: 95%; 
    background-size: 100%;
    background-position: center;
    font-size: 13px;
    letter-spacing: 1px;
}

#page{
    height: 100px;
}
#link {
    width: 15%; height: 5%;
    font-size: 70%;
    padding: 10px 25px 10px 25px
}


#pe{
    width: 90%; height: 150px;
    align-content: center;
}
#contato{
    width: 100%;
}

#whats{
    width: 40%;
    font-size: 10px;
    padding: 10px;
}

#info{
    font-size: 7px;
}

#creditos {
    font-size: 30%;
    letter-spacing: 4px;
}
}



